@import "../sass/mediaqueries.scss";
@import '../sass/mixin.scss';

:root {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    background-color: #EEEEFF;
}